header {
    display:flex;
    align-items:center;
    background-color:var(--color-primary);
    height: 60px;
}
.dsmovie-nav-content{
    display:flex;
    align-items:center;
    justify-content:space-between;
    color:#fff;
}
.dsmovie-nav-content h1{
    margin:0;
    font-weight:700;
    font-size:24px;
}
.dsmovie-content-container{
    display:flex;
    align-items:center;
}
.dsmovie-contact-link{
    margin:0 0 0 10px;
    font-size:12px;
}
